.color {
    display: inline;
    

    .color1 {
        background: #535ebf;
        width: 100px;
        height: 100px;
    }
    .color2 {
        background: #bf8553;
        width: 100px;
        height: 100px;
    }
    .color3 {
        background: #f8f59b;
        width: 100px;
        height: 100px;
    }
    .color4 {
        background: #ba53bf;
        width: 100px;
        height: 100px;
    }
}