// This is for the main part of the home page

.main {

    .celebs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95vw;
        padding-left: 5vw;
        padding-top: 10vh;

        .celeb {
            height: 50vh;
        }

        h1 {
            display: flex;
            justify-content: center;
            font-size: 4rem;
            padding: 2%;
        }
        p {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            padding-bottom: 2%;
            width: 100%;
        }
    }
    .threeSections {
        width: 100vw;

        .ourApp {
            display: flex;
            flex-direction: row;

            .app {
                width: 45%;
                padding-left: 5%;
            }
            .paragraphs {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                padding-top: 15%;
                padding-right: 5%;
                
                // create a mixin that takes the .paragraph section and has the p{} on it for padding
            }
            
        }
        .game {
            display: flex;
            flex-direction: row;

            .paragraphs {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-left: 5%;
            }
            .gameImg {
                width: 45%;
                padding-right: 5%;
            }

        }
        .party {
            display: flex;
            flex-direction: row;

            .enjoy {
                width: 45%;
                padding-left: 5%;
            }
            .paragraphs {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-right: 5%;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        padding-top: 2%;
        color: darkgray;
    }

}