// This is for the main part of the home page

.main {
    // background: #2CBF89;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    
    .celebs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 98vw;
        padding-left: 2vw;
        padding-top: 10vh;

        .celebRow {
            display: flex;
            justify-content: space-evenly;
            padding-top: 5vh;
            padding-bottom: 5vh;
            // background: #056CF2;
            
            

            .celeb {
                height: 20vw;
                width: 20vw;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid white;
                box-shadow: 4px 4px 10px black;
            }
        }
        .wording {
            padding-top: 2vh;
            
            h1 {
                display: flex;
                justify-content: center;
                font-size: 4rem;
                padding: 2%;
                // background: #056CF2;
                // background: #ba53bf;
            
            }
            p {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                padding-bottom: 2%;
                width: 100%;
                // background: #056CF2;
                // background: #ba53bf;
            }
        }
    }
    .threeSections {
        width: 100vw;
        padding-top: 2vh;
        

        .ourApp {
            display: flex;
            flex-direction: row;
            width: 98vw;
            height: 72vh;
            padding-bottom: 2vh;
            margin: 0 auto;
            border-bottom: 1px dashed black;
            
           

            .app {
                width: 35vw;
                height: 35vw;
                // padding-left: 2%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid white;
                box-shadow: 4px 4px 10px black;
                
            }
            .paragraphs {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                padding-top: 15%;
                padding-right: 5%;
                // background: #D97762;
                
                // create a mixin that takes the .paragraph section and has the p{} on it for padding
            }
            
        }
        .game {
            display: flex;
            flex-direction: row;
            width: 98vw;
            height: 74vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
            padding-left: 2vw;
            margin: 0 auto;
            border-bottom: 1px dashed black;

            .paragraphs {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-left: 5%;
                // background: #D97762 //put this in the paragraph section of the mixin
            }
            .gameImg {
                width: 35vw;
                height: 35vw;
                padding-right: 0%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid white;
                box-shadow: 4px 4px 10px black;
            }

        }
        .party {
            display: flex;
            flex-direction: row;
            width: 98vw;
            height: 72vh;
            padding-bottom: 2vh;
            padding-top: 1vh;
            margin: 0 auto;
            border-bottom: 1px dashed black;
            

            .enjoy {
                width: 35vw;
                height: 35vw;
                // padding-left: 2%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid white;
                box-shadow: 4px 4px 10px black;
            }
            .paragraphs {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-right: 5%;
                // background: #D97762 //put this in the paragraph section of the mixin
            }
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        padding-bottom: 3vh;
        padding-top: 2vh;
        height: 10vh;
        
        
        button {
            font-size: 3rem;
            width: 20vw;
            background: #D83E58;
            border-radius: 15px;
            color: #535ebf;
            font-weight: bold; 
        }
 
    }
}

.aboutUs {
    // background: #2CBF89;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);    
    
    .about {
        h2 {
            display: flex;
            justify-content: center;
            font-size: 4rem;
            padding: 2%;
            width: 95vw;
            padding-top: 10%;
            
        }
        p {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            padding-bottom: 5vh;
            width: 98vw;
            padding-left: 2%;
        }
    }
    .team {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding-bottom: 3%;
        padding-left: 5vw;
        padding-right: 5vw;
        // background: #2CBF89;
    
        
    
        img {
            width: 15vw;
            height: 15vw;
            // padding-left: 2%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 4px 4px 10px black;
            
        }
        
          
        .text {
            padding-left: 20%;
            padding-top: 4%;
            // padding-right: 5%;
            // background: #2CBF89;
            height: 30vh;
            width: 70vw;
            // background-color: #D97762;
            background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
            border-radius: 25%;
    
    
            
            h3 {
                font-size: 4rem;
                padding-bottom: 3%;
            }
            p {
                font-size: 2rem;
                padding-bottom: 3%;
            }
            a {
                font-size: 2rem;
                text-decoration: none;
            }
    
        }
    }
}


.bottom {
    background: lightgray;
    h2 {
        display: flex;
        justify-content: center;
        padding-top: 2%;
        color: blue;
   
    }
    div {
        display: flex;
        justify-content: space-around;
        
        h4 {
            font-size: 2rem;
            padding: 3% 0;
        }
    }

}

